.cardCategory {
    margin-bottom: 93px; /* Espaço entre categorias */
}

.cardCategory {    
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 15px; /* Adiciona espaço no final para melhorar a rolagem */
}
