* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: none;
  list-style: none;
  text-decoration: none;
  border: 0;
}

:root {   
  --color-white-50: #FFFFFF;
  --color-white-100: #E2E2E2;
  --color-white-200: #F5F5F5;
  --color-blue-400: #6BD1FF;
  --color-blue-500: #2271D1FF;
  --color-blue-525: #2271D1;
  --color-blue-550: #2271D13D;
  --color-blue-600: #2271D1B2;
  --color-blue-700: #6BD1FF; 
  --color-blue-950: #03122F; 
  --color-yellow-500: #FFBA05;
  --color-green-500: #00C86F;
  --color-black-700: #262626;
  --color-black-800: #191919;
  --color-black-900: #000000;
  --color-gray-200: #A5A5A5;
  --color-gray-700: #484848;  
  
  --color-red-200: #ff0000;

  --font: 'Roboto', sans-serif;
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-black-800);
}