.videoModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000; 
}

.videoModalContent {
    background-color: var(--color-gray-700);
    padding: 20px;
    border-radius: 8px;
    position: relative; 
    width: 90%;
    max-width: 640px;
}

.closeButton {
    z-index: 1001;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 900;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-white-200);
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .videoModalContent {
        width: 100%;
        max-width: 540px;
    }
}

@media (max-width: 578px) {
    .videoModalContent {
        width: 100%;
        max-width: 440px;
    }
}